.maintitlewords {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.container {
    max-width: 960px;
    background-color: #b5e7a0;
}

p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

body{
    background-color: #b5e7a0;
}


.jumbotron{
    background-color: #b5e7a0;
}