.name {
    font-size: 100px;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 18px
}

.description{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px
}

.container{
    max-width: 1024px;
    font-family: 'Work Sans', sans-serif;
}

.projects{
    padding-top: 40px;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 0px;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.headline{
    background-color: #deeaee;
    text-align: center
}

.desc{
    background-color: #deeaee;
    padding-bottom: 48px;
    text-align: center
}

.proj{
    text-align: center;
    padding-bottom: 40px;
    background-color: #fafafa;
}

.project-thumbnail{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects-link{
    font-family: 'Work Sans', sans-serif;
    color: black;
}

.contact-link{
    font-family: 'Work Sans', sans-serif;
    color: black;
}



nav{
    background-color: #deeaee;
    
}

.contact-info{
    padding-top: 80px;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
}

.contact-links{
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 24px;
    padding-top: 8px
}

.con{
    text-align: center;
    background-color: #fafafa
}

.project-thumbnail{
    box-shadow: 2px;
}

.card-text{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.card{
    max-width: 600px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    margin-left: auto;
    margin-right: auto;
}